ma-page-header(location="作业评审" name="{{vm.user.fullname}}")

md-content#homework-review.wrapper-bg(layout="column")
    md-content
        md-tabs(md-dynamic-height)
            md-tab(label="小组评审")
                md-content.wrapper-bg.p-12
                    ma-review-item
            md-tab(label="我的得分")
                md-content.wrapper-bg.p-12
                    p my score
            
