#login.flex-scrollable(layout='column', ms-scroll='')
  #login-form-wrapper(layout='column', layout-align='center center')
    #login-form.md-whiteframe-8dp
      .logo.md-accent-bg
      .title( ng-hide='vm.invalidUser') 请登录
      .title.is-invalid(ng-show='vm.invalidUser') 用户名或密码错误!

        div(ng-messages='loginForm.password.$error', ng-show='loginForm.password.$touched', role='alert')
          div(ng-message='required')
            span 请输入密码

      form(name='loginForm', novalidate='')
        
        md-input-container.md-block(md-no-float='')
          input(name='username', ng-model='vm.form.username', placeholder='用户名', translate='', required='')
          div(ng-messages='loginForm.username.$error', ng-show='loginForm.username.$touched', role='alert', multiple='')
            div(ng-message='required')
              span 请输入用户名
        
        md-input-container.md-block(md-no-float='')
          input(type='password', name='password', ng-model='vm.form.password', placeholder='密码', translate='', required='')
          div(ng-messages='loginForm.password.$error', ng-show='loginForm.password.$touched', role='alert')
            div(ng-message='required')
              span 请输入密码
        
        .remember-forgot-password(layout='row', layout-xs='column', layout-align='space-between center')
          md-checkbox.remember-me(ng-model='data.cb1', aria-label='Remember Me')
            span 自动登录
          a.forgot-password.md-accent-color(ui-sref='app.pages_auth_forgot-password') 忘记密码?
        
        md-button.md-raised.md-accent(type='submit', aria-label='LOG IN', ng-disabled='loginForm.$invalid || loginForm.$pristine', ng-click='vm.login()')
          | 登录
