#profile-container {
	.info {
		flex-basis: 33%;
		.title {
			font-size: 15px;
			font-weight: 500;
		}
		p {
			margin: 5px 0;
		}
	}
}
.pro-header {
	height: 320px;
	min-height: 320px;
	max-height: 320px;
	.profile-image {
		margin-right: 24px;
	}
	.name {
		font-size: 34px;
		color: #505050;
	}
}