div.pro-header.summer.p-24(layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end")
	div.user-info(layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center")
		img.profile-image.avatar.huge(src="{{vm.user.avatar}}")
		div.name(ng-bind="vm.user.fullname")