#error-404(layout="column" layout-align="center center")
    .content(layout="column" layout-align="center center")
        .error-code 404
        .message Sorry but we couldn’t find the page you are looking for

        a.back-link.md-accent-color(href="/" ) Go back to dashboard
