#error-404(layout="column" layout-align="center center")
    .content(layout="column" layout-align="center center")
        .error-code 404
        .message 找不到页面

        a.back-link.md-accent-color.mt-24(href="/" ) 返回首页
