div#ma-page-header.fullwidth.p-24.default-fg(layout="column" layout-align="end start" ng-class="'summer'")
  div.mt-12(layout="row" layout-align="start center")
    md-icon.s16.m-0.mr-6(md-font-icon="icon-home")
    md-icon.s16.m-0.mr-6(md-font-icon="icon-chevron-right")
    span.md-body-2(ng-bind="location")
  span.md-display-1.font-weight-300.mt-12 欢迎回来, {{name}}!
