div.p-12( ng-if = " type == 'score' " )
    .md-title.mb-12 我的成绩
    .card.md-whiteframe-2dp.white-bg.p-12
      c3chart(bindto-id="scoreChart")
        chart-column(column-id="x" column-values="{{ids}}")
        chart-column(column-id="score" column-name="分数" column-color="#19b0f5" column-values="{{data}}" column-type="line")
        chart-points(point-radius="4" show-point="true" point-expand-enabled="true" point-expand-radius="8")
        chart-grid(show-x="false" show-y="true")
        chart-axes(values-x="x" y="score")
          chart-axis-x(axis-type="category")
          chart-axis-y(axis-max="100")

div.p-12( ng-if = " type == 'rank' " )
    .md-title.mb-12 我的排名
    .card.md-whiteframe-2dp.white-bg.p-12
      c3chart(bindto-id="rankChart")
        chart-column(column-id="x" column-values="{{ids}}")
        chart-column(column-id="rank" column-name="排名" column-color="#ff9800" column-values="{{data}}" column-type="line")
        chart-points(point-radius="4" show-point="true" point-expand-enabled="true" point-expand-radius="8")
        chart-grid(show-x="false" show-y="true")
        chart-axes(values-x="x" y="score")
          chart-axis-x(axis-type="category")
          chart-axis-y(axis-inverted="true" axis-max="150" padding-top="10" padding-bottom="20")
              chart-axis-y-tick(tick-format-function="tickFormat")
