/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
#my-achievements-web
  #splash-screen .logo
    width: 400px
    height: 250px
    background: url(/assets/images/logos/zzy-small.png)  center / 60%   no-repeat
    box-shadow: none

  .logo-image
    background: url(/assets/images/logos/zzy-small.png) center / 30px 19px no-repeat !important

  #login .logo
    background: url(/assets/images/logos/zzy-small-black-eye.png) center / 128px 76px no-repeat !important
